span.icon{ float: left;	background-image: url('../images/fugue-sprite.png'); background-repeat: no-repeat; width: 16px; height: 16px;	margin: 0px 3px 0px 0px; }span.abacus{ background-position: -0px -0px; }
span.alarm-clock-select{ background-position: -0px -16px; }
span.anchor{ background-position: -0px -32px; }
span.application-monitor{ background-position: -0px -48px; }
span.application-wave{ background-position: -0px -64px; }
span.arrow-branch-000-left{ background-position: -0px -80px; }
span.arrow-branch-090{ background-position: -0px -96px; }
span.asterisk{ background-position: -0px -112px; }
span.balloon-white-left{ background-position: -0px -128px; }
span.bandaid{ background-position: -0px -144px; }
span.brain{ background-position: -0px -160px; }
span.bread{ background-position: -0px -176px; }
span.burn{ background-position: -0px -192px; }
span.cake-plain{ background-position: -0px -208px; }
span.cake{ background-position: -0px -224px; }
span.calculator{ background-position: -16px -0px; }
span.calendar-list{ background-position: -16px -16px; }
span.calendar-month{ background-position: -16px -32px; }
span.camera-black{ background-position: -16px -48px; }
span.camera-lens{ background-position: -16px -64px; }
span.camera{ background-position: -16px -80px; }
span.car-red{ background-position: -16px -96px; }
span.car{ background-position: -16px -112px; }
span.card-address{ background-position: -16px -128px; }
span.cards-bind-address{ background-position: -16px -144px; }
span.cassette{ background-position: -16px -160px; }
span.certificate{ background-position: -16px -176px; }
span.chain{ background-position: -16px -192px; }
span.chart-up-color{ background-position: -16px -208px; }
span.chart-up{ background-position: -16px -224px; }
span.clock-frame{ background-position: -32px -0px; }
span.clock-select{ background-position: -32px -16px; }
span.clock{ background-position: -32px -32px; }
span.co2{ background-position: -32px -48px; }
span.compass{ background-position: -32px -64px; }
span.cookie-bite{ background-position: -32px -80px; }
span.cookie-chocolate{ background-position: -32px -96px; }
span.cookie{ background-position: -32px -112px; }
span.counter-count-up{ background-position: -32px -128px; }
span.counter-count{ background-position: -32px -144px; }
span.counter-reset{ background-position: -32px -160px; }
span.counter-stop{ background-position: -32px -176px; }
span.counter{ background-position: -32px -192px; }
span.credit-card{ background-position: -32px -208px; }
span.crown{ background-position: -32px -224px; }
span.cup-empty{ background-position: -48px -0px; }
span.cup-tea{ background-position: -48px -16px; }
span.cup{ background-position: -48px -32px; }
span.cutleries{ background-position: -48px -48px; }
span.cutlery{ background-position: -48px -64px; }
span.dashboard-network{ background-position: -48px -80px; }
span.dashboard{ background-position: -48px -96px; }
span.database{ background-position: -48px -112px; }
span.diamond{ background-position: -48px -128px; }
span.direction{ background-position: -48px -144px; }
span.disc-blue{ background-position: -48px -160px; }
span.disc-label{ background-position: -48px -176px; }
span.disc{ background-position: -48px -192px; }
span.door{ background-position: -48px -208px; }
span.drawer{ background-position: -48px -224px; }
span.drill{ background-position: -64px -0px; }
span.envelope{ background-position: -64px -16px; }
span.equalizer{ background-position: -64px -32px; }
span.eraser{ background-position: -64px -48px; }
span.eye{ background-position: -64px -64px; }
span.fingerprint-recognition{ background-position: -64px -80px; }
span.fingerprint{ background-position: -64px -96px; }
span.fire-big{ background-position: -64px -112px; }
span.fire{ background-position: -64px -128px; }
span.flag-black{ background-position: -64px -144px; }
span.flag-blue{ background-position: -64px -160px; }
span.flag-gray{ background-position: -64px -176px; }
span.flag-green{ background-position: -64px -192px; }
span.flag-pink{ background-position: -64px -208px; }
span.flag-purple{ background-position: -64px -224px; }
span.flag-white{ background-position: -80px -0px; }
span.flag-yellow{ background-position: -80px -16px; }
span.flag{ background-position: -80px -32px; }
span.flashlight{ background-position: -80px -48px; }
span.fruit-lime{ background-position: -80px -64px; }
span.fruit-orange{ background-position: -80px -80px; }
span.fruit{ background-position: -80px -96px; }
span.gear{ background-position: -80px -112px; }
span.gender-female{ background-position: -80px -128px; }
span.gender{ background-position: -80px -144px; }
span.glass-empty{ background-position: -80px -160px; }
span.glass{ background-position: -80px -176px; }
span.globe-green{ background-position: -80px -192px; }
span.globe-model{ background-position: -80px -208px; }
span.globe-place{ background-position: -80px -224px; }
span.globe{ background-position: -96px -0px; }
span.hamburger{ background-position: -96px -16px; }
span.hand-point{ background-position: -96px -32px; }
span.hand{ background-position: -96px -48px; }
span.hard-hat-military{ background-position: -96px -64px; }
span.hard-hat-mine{ background-position: -96px -80px; }
span.hard-hat{ background-position: -96px -96px; }
span.headphone{ background-position: -96px -112px; }
span.heart-empty{ background-position: -96px -128px; }
span.heart{ background-position: -96px -144px; }
span.home{ background-position: -96px -160px; }
span.hourglass-select-remain{ background-position: -96px -176px; }
span.hourglass-select{ background-position: -96px -192px; }
span.hourglass{ background-position: -96px -208px; }
span.ice{ background-position: -96px -224px; }
span.image-empty{ background-position: -112px -0px; }
span.jar-empty{ background-position: -112px -16px; }
span.jar-label{ background-position: -112px -32px; }
span.jar{ background-position: -112px -48px; }
span.key{ background-position: -112px -64px; }
span.keyboard{ background-position: -112px -80px; }
span.layer-shape-curve{ background-position: -112px -96px; }
span.leaf-plant{ background-position: -112px -112px; }
span.leaf-red{ background-position: -112px -128px; }
span.leaf-wormhole{ background-position: -112px -144px; }
span.leaf-yellow{ background-position: -112px -160px; }
span.leaf{ background-position: -112px -176px; }
span.license-key{ background-position: -112px -192px; }
span.lifebuoy{ background-position: -112px -208px; }
span.light-bulb-off{ background-position: -112px -224px; }
span.light-bulb{ background-position: -128px -0px; }
span.lightning{ background-position: -128px -16px; }
span.lock{ background-position: -128px -32px; }
span.lollipop{ background-position: -128px -48px; }
span.luggage{ background-position: -128px -64px; }
span.magnet{ background-position: -128px -80px; }
span.magnifier{ background-position: -128px -96px; }
span.mail{ background-position: -128px -112px; }
span.map{ background-position: -128px -128px; }
span.marker{ background-position: -128px -144px; }
span.medal-bronze-red{ background-position: -128px -160px; }
span.medal-bronze{ background-position: -128px -176px; }
span.medal-red{ background-position: -128px -192px; }
span.medal-silver-red{ background-position: -128px -208px; }
span.medal-silver{ background-position: -128px -224px; }
span.medal{ background-position: -144px -0px; }
span.megaphone{ background-position: -144px -16px; }
span.money-coin{ background-position: -144px -32px; }
span.money{ background-position: -144px -48px; }
span.monitor{ background-position: -144px -64px; }
span.monkey-sulky{ background-position: -144px -80px; }
span.monkey{ background-position: -144px -96px; }
span.new-text{ background-position: -144px -112px; }
span.paper-bag{ background-position: -144px -128px; }
span.paper-plane{ background-position: -144px -144px; }
span.pearl{ background-position: -144px -160px; }
span.picture{ background-position: -144px -176px; }
span.piggy-bank{ background-position: -144px -192px; }
span.pill{ background-position: -144px -208px; }
span.pin{ background-position: -144px -224px; }
span.plate-cutlery{ background-position: -160px -0px; }
span.plate{ background-position: -160px -16px; }
span.plug{ background-position: -160px -32px; }
span.point-bronze{ background-position: -160px -48px; }
span.point-silver{ background-position: -160px -64px; }
span.point{ background-position: -160px -80px; }
span.postage-stamp{ background-position: -160px -96px; }
span.present{ background-position: -160px -112px; }
span.price-tag-label{ background-position: -160px -128px; }
span.price-tag{ background-position: -160px -144px; }
span.puzzle{ background-position: -160px -160px; }
span.quill{ background-position: -160px -176px; }
span.radar{ background-position: -160px -192px; }
span.radioactivity{ background-position: -160px -208px; }
span.rainbow{ background-position: -160px -224px; }
span.receipt{ background-position: -176px -0px; }
span.robot{ background-position: -176px -16px; }
span.rocket-fly{ background-position: -176px -32px; }
span.rocket{ background-position: -176px -48px; }
span.ruby{ background-position: -176px -64px; }
span.ruler-crop{ background-position: -176px -80px; }
span.ruler-triangle{ background-position: -176px -96px; }
span.ruler{ background-position: -176px -112px; }
span.safe{ background-position: -176px -128px; }
span.screwdriver{ background-position: -176px -144px; }
span.service-bell{ background-position: -176px -160px; }
span.shield{ background-position: -176px -176px; }
span.shopping-basket{ background-position: -176px -192px; }
span.shovel{ background-position: -176px -208px; }
span.slash{ background-position: -176px -224px; }
span.soap{ background-position: -192px -0px; }
span.socket{ background-position: -192px -16px; }
span.sofa{ background-position: -192px -32px; }
span.solar-panel{ background-position: -192px -48px; }
span.speaker-volume{ background-position: -192px -64px; }
span.speaker{ background-position: -192px -80px; }
span.spectacle-sunglass{ background-position: -192px -96px; }
span.spectacle{ background-position: -192px -112px; }
span.spray{ background-position: -192px -128px; }
span.stamp{ background-position: -192px -144px; }
span.star-empty{ background-position: -192px -160px; }
span.star-half{ background-position: -192px -176px; }
span.star{ background-position: -192px -192px; }
span.sticky-note-text{ background-position: -192px -208px; }
span.sticky-note{ background-position: -192px -224px; }
span.switch{ background-position: -208px -0px; }
span.system-monitor{ background-position: -208px -16px; }
span.t-shirt-gray{ background-position: -208px -32px; }
span.t-shirt-print-gray{ background-position: -208px -48px; }
span.t-shirt-print{ background-position: -208px -64px; }
span.t-shirt{ background-position: -208px -80px; }
span.table{ background-position: -208px -96px; }
span.tag{ background-position: -208px -112px; }
span.target{ background-position: -208px -128px; }
span.telephone{ background-position: -208px -144px; }
span.television-off{ background-position: -208px -160px; }
span.television-test{ background-position: -208px -176px; }
span.television{ background-position: -208px -192px; }
span.thermometer-high{ background-position: -208px -208px; }
span.thermometer-low{ background-position: -208px -224px; }
span.thermometer{ background-position: -224px -0px; }
span.thumb-up{ background-position: -224px -16px; }
span.thumb{ background-position: -224px -32px; }
span.tick{ background-position: -224px -48px; }
span.ticket{ background-position: -224px -64px; }
span.tie{ background-position: -224px -80px; }
span.toolbox{ background-position: -224px -96px; }
span.traffic-cone{ background-position: -224px -112px; }
span.traffic-light{ background-position: -224px -128px; }
span.trophy-bronze{ background-position: -224px -144px; }
span.trophy-silver{ background-position: -224px -160px; }
span.trophy{ background-position: -224px -176px; }
span.truck{ background-position: -224px -192px; }
span.ui-button-navigation{ background-position: -224px -208px; }
span.umbrella{ background-position: -224px -224px; }
span.usb-flash-drive-logo{ background-position: -240px -0px; }
span.usb-flash-drive{ background-position: -240px -16px; }
span.user-black-female{ background-position: -240px -32px; }
span.user-black{ background-position: -240px -48px; }
span.user-business-boss{ background-position: -240px -64px; }
span.user-business-gray-boss{ background-position: -240px -80px; }
span.user-business-gray{ background-position: -240px -96px; }
span.user-business{ background-position: -240px -112px; }
span.user-detective-gray{ background-position: -240px -128px; }
span.user-detective{ background-position: -240px -144px; }
span.user-female{ background-position: -240px -160px; }
span.user-gray-female{ background-position: -240px -176px; }
span.user-gray{ background-position: -240px -192px; }
span.user-medical-female{ background-position: -240px -208px; }
span.user-medical{ background-position: -240px -224px; }
span.user-thief-baldie{ background-position: -256px -0px; }
span.user-thief-female{ background-position: -256px -16px; }
span.user-thief{ background-position: -256px -32px; }
span.user-white-female{ background-position: -256px -48px; }
span.user-white{ background-position: -256px -64px; }
span.user-worker-boss{ background-position: -256px -80px; }
span.user-worker{ background-position: -256px -96px; }
span.user-yellow-female{ background-position: -256px -112px; }
span.user-yellow{ background-position: -256px -128px; }
span.user{ background-position: -256px -144px; }
span.vise{ background-position: -256px -160px; }
span.wall-break{ background-position: -256px -176px; }
span.wall-brick{ background-position: -256px -192px; }
span.wall{ background-position: -256px -208px; }
span.wallet{ background-position: -256px -224px; }
span.wand-hat{ background-position: -272px -0px; }
span.water{ background-position: -272px -16px; }
span.weather-cloud{ background-position: -272px -32px; }
span.weather-clouds{ background-position: -272px -48px; }
span.weather-cloudy{ background-position: -272px -64px; }
span.weather-fog{ background-position: -272px -80px; }
span.weather-lightning{ background-position: -272px -96px; }
span.weather-moon-clouds{ background-position: -272px -112px; }
span.weather-moon-fog{ background-position: -272px -128px; }
span.weather-moon{ background-position: -272px -144px; }
span.weather-rain{ background-position: -272px -160px; }
span.weather-snow{ background-position: -272px -176px; }
span.weather-tornado{ background-position: -272px -192px; }
span.weather{ background-position: -272px -208px; }
span.webcam{ background-position: -272px -224px; }
span.weight{ background-position: -288px -0px; }
span.wheel{ background-position: -288px -16px; }
span.wooden-box-label{ background-position: -288px -32px; }
span.wooden-box{ background-position: -288px -48px; }
span.wrench-screwdriver{ background-position: -288px -64px; }
span.wrench{ background-position: -288px -80px; }
