@CHARSET "UTF-8";
.activity-item:before {
	content: "";
	width: 16px;
	height: 16px;
	float: left;
	background: url('../images/fugue-sprite.png') no-repeat;
	background-position: -224px -160px;
	margin: 0 6px 2px 0;
}
.wp-strava-activity-container {
	display: table;
	margin: 0 auto;
}
#activity-details-table tr td {
	padding: 5px;
}
#activity-details-table th {
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
}
#activity-details-table td {
	text-align: center;
	border: 1px solid #e7e7e7;
}
.activity-details-table-info {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.activity-details-table-units {
	font-size: 0.8em;
}
